@model MarketingServiceRequests.Models.ServiceDesigns

@{
    ViewBag.Title = "Designs";
}

<head>
    <style>
        input[type="file"] {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('input[type=submit]').prop("disabled", false); 


            $("#Booklet_link").on('click', function (e) {
                e.preventDefault();
                $("#Booklet_input:hidden").trigger('click');
            });

            $('#Booklet_input').change(function (e) {
                var FileName = e.target.files[0].name;
                $('#Booklet_span').html(FileName);
            });


            $("#Flyer_link").on('click', function (e) {
                debugger;
                e.preventDefault();
                $("#Flyer_input:hidden").trigger('click');
            });


            $('#Flyer_input').change(function (e) {
                var FileName = e.target.files[0].name;
                $('#Flyer_span').html(FileName);
            });





            $("#Brochure_link").on('click', function (e) {
                e.preventDefault();
                $("#Brochure_input:hidden").trigger('click');
            });

            $("#InvitationCard_link").on('click', function (e) {
                e.preventDefault();
                $("#InvitationCard_input:hidden").trigger('click');
            });

            $("#PopupBanner_link").on('click', function (e) {
                e.preventDefault();
                $("#PopupBanner_input:hidden").trigger('click');
            });
            $("#Poster_link").on('click', function (e) {
                e.preventDefault();
                $("#Poster_input:hidden").trigger('click');
            });


        });
    </script>
</head>

@using (Html.BeginForm("Designs", "Services", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div style="background-color:#015FB9;margin:10px 0px 0px 0px;padding:20px 10px 20px 10px;color:white;font-weight:bold">
            <h2>Marketing Service Request / Service Details / Designs</h2>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="padding:0px 0px 0px 20px;margin:0px 0px 0px 0px">
                @{
                    if (Session["UserName"] != null)
                    {
                        <h4> Welcome : @Session["UserName"] </h4>
                    }
                }
            </div>
            <div class="col-md-offset-7 col-md-1 pull-right" style="padding:7px 5px 0px 0px;">
                @Html.ActionLink("Logout", "LogOut", "Login")
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <h3>Type of Design</h3>
            </div>
        </div>
        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("Booklet", false)<span style="padding:0 15px 0 0px">Booklet </span>
                <input type="file" name="BookletFile" id="Booklet_input" />
                <a href="" id="Booklet_link" style="padding:0 10px 0 10px"> (Attach Booklet) </a>
                <span id="Booklet_span"></span>
            </div>
        </div>
        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("Flyer", false) <span style="padding:0 15px 0 0px"> Flyer </span>
                <input type="file" name="FlyerFile" id="Flyer_input" />
                <a href="" id="Flyer_link" style="padding:0 10px 0 10px"> (Attach Flyer) </a>
                <span id="Flyer_span"></span>
            </div>
        </div>
        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("Brochure", false) <span style="padding:0 15px 0 0px"> Brochure </span>
                <input type="file" name="BrochureFile" id="Brochure_input" />
                <a href="" id="Brochure_link" style="padding:0 10px 0 10px"> (Attach Brochure) </a>
                <span id="Brochure_span"></span>
            </div>
        </div>
        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("InvitationCard", false) <span style="padding:0 15px 0 0px"> InvitationCard </span>
                <input type="file" name="InvitationCardFile" id="InvitationCard_input" />
                <a href="" id="InvitationCard_link" style="padding:0 10px 0 10px"> (Attach InvitationCard) </a>
                <span id="InvitationCard_span"></span>
            </div>
        </div>

        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("PopupBanner", false) <span style="padding:0 15px 0 0px"> PopupBanner </span>
                <input type="file" name="PopupBannerFile" id="PopupBanner_input" />
                <a href="" id="PopupBanner_link" style="padding:0 10px 0 10px"> (Attach PopupBanner) </a>
                <span id="PopupBanner_span"></span>
            </div>
        </div>
        <div class="form-group" style="vertical-align:middle;">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("Poster", false) <span style="padding:0 15px 0 0px"> Poster </span>
                <input type="file" name="PosterFile" id="Poster_input" />
                <a href="" id="Poster_link" style="padding:0 10px 0 10px"> (Attach Poster) </a>
                <span id="Poster_span"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                <p>
                    Note:	Afer	completing	your	request,	the	high	resolution	design	will	be	shred	with	you	and	you	have	to	print	it	through	Purchasing	department.
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="button" value="Back" class="btn" style="background-color:#015FB9;color:white;" onclick="location.href='@Url.Action("servicecategories", "Servicedetails")'" />
            </div>
            <div class="col-md-offset-8 col-md-2 ">
                <input type="submit" id="btnsubmit" value="Next" class="btn pull-right" style="background-color:#015FB9;color:white;" />
            </div>
        </div>
    </div>
}


